<section class="py-12 md:py-16 bg-white">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
        <div class="text-center mb-12">
            <h2 class="text-3xl font-merriweather font-bold text-dem-blue-600 mb-3">{{ site.data.i18n[page.lang].get_involved.volunteer_options.title }}</h2>
            <p class="text-lg text-gray-600 font-inter">
                {{ site.data.i18n[page.lang].get_involved.volunteer_options.subtitle }}
            </p>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">

            {% for op in site.data.volunteer_options %}
            <div class="group bg-light-gray rounded-lg shadow-lg p-6 text-center transition-all duration-300 ease-in-out hover:shadow-xl hover:-translate-y-1 border border-transparent hover:border-dem-blue-200">
                <div class="flex justify-center mb-4">
                    <div class="bg-dem-blue-100 p-3 rounded-full group-hover:bg-dem-blue-200 transition-colors duration-300">
                        <i data-lucide="{{ op.icon }}" class="h-8 w-8 text-dem-blue-500"></i>
                    </div>
                </div>
                <h3 class="text-xl font-merriweather font-semibold text-dem-blue-700 mb-2 group-hover:text-dem-blue-500 transition-colors duration-300">{{ op[page.lang].title }}</h3>
                <p class="text-md font-inter text-gray-700">{{ op[page.lang].description }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
